Memberships
* User should see link for Basic plan on Homepage.
* User should see link for Pro plan on Homepage.
* Basic plan link should point to regular Devise sign up form.
* Pro plan link should point to a custom sign up form.

Stripe Integration
* Users should have a stripe customer token in the Users table
* Javascript should prevent Pro form from submitting, when user fills it out,
  and should send card info to Stripe. Stripe will return a card token
* Javascript should send user fields and card token to our Rails app. Rails app
  should validate the user fields. Rails app will note whether on plan 1 or plan 2.
* Once validated, Rails sholud send user info (email, plan id) and card token
  to Stripe servers and Stripe will create a subscription and send back customer
  token. Rails should save customer token and user information to our database.

User interface
*==> Users should be redirected to the correct page with a plan id when they fail
  to enter a valid email/password combination
* Devise validation should happen before Stripe validation to prevent sending 
  card information to Stripe if they entered a wrong email/password combination
* Javascript and Devise alert when entering wrong information should look better

User profiles
* Each user should have one profile
* User should see link to new profile form upon signing up
* User should be able to create and view their user profile
* User profile should have a profile picture
* User should be able to view all user profiles